### Para esse notebook é necessário instalar o xarray com as suas dependência recomendadas, que pode ser feito por meio no comando abaixo executado no terminal do seu ambiente conda (de acordo com a referência da biblioteca em : http://xarray.pydata.org/en/stable/getting-started-guide/installing.html)
conda install -c conda-forge xarray dask netCDF4 bottleneck

## 0 - Importanto as bibliotecas necessárias

In [1]:
import xarray as xr
import netCDF4  # espera-se que essa biblioteca seja instalada junto do xarray
import numpy as np
import pandas as pd

## 1 - Importando os dados

In [2]:
url = 'https://www.ncei.noaa.gov/data/sea-surface-temperature-optimum-interpolation/v2.1/access/avhrr/202109/oisst-avhrr-v02r01.20210901.nc#mode=bytes'
data = netCDF4.Dataset(url)
data = xr.open_dataset(url)

# é possível também utilizar o arquivo baixando-o para o diretório local e abrindo com o comando
# data = xr.open_dataset('oisst-avhrr-v02r01.20210901.nc')

## 2 - Calculando a média da sst nas áreas de interesse

#### 2.1 - Sem considerar a influência da diferença entre as áreas das células do grid

In [3]:
nino12 = data.sel(lat = slice(-10,0),lon = slice(360-90,360-80)).sst.mean(['lat','lon']).values  # (0-10S, 90W-80W)
nino34 = data.sel(lat = slice(-5,5),lon = slice(360-170,360-120)).sst.mean(['lat','lon']).values  # (5N-5S, 170W-120W)
cbm = data.sel(lat = slice(-43,-33),lon = slice(360-63,360-48)).sst.mean(['lat','lon']).values  #  (63ºW - 48ºW; 43ºS - 33ºS)

#### 2.2 - Considerando a influência da diferença entre as áreas das células do grid

In [4]:
################# Para o Nino 1+2 #################

nino12_area = data.sel(lat = slice(-10,0),lon = slice(360-90,360-80)).sst    #selecionando a área e a variável que desejo
pesos = np.cos(np.deg2rad(nino12_area.lat))   #criando os pesos
pesos.name = "pesos"   #renomeando o array apenas para não ter confusão com a latitude, pois ele fica inicialmente nomeado como "lat'
nino12_cp = nino12_area.weighted(pesos).mean(("lon", "lat")).values   #calculando a média ponderada pelos pesos
del(pesos)

################# Para o Nino 3.4 #################

nino34_area = data.sel(lat = slice(-5,5),lon = slice(360-170,360-120)).sst
pesos = np.cos(np.deg2rad(nino34_area.lat))
pesos.name = "pesos"
nino34_cp = nino34_area.weighted(pesos).mean(("lon", "lat")).values
del(pesos)

################# Para a CBM #################

cbm_area = data.sel(lat = slice(-43,-33),lon = slice(360-63,360-48)).sst
pesos = np.cos(np.deg2rad(cbm_area.lat))
pesos.name = "pesos"
cbm_cp = cbm_area.weighted(pesos).mean(("lon", "lat")).values
del(pesos)

## 3 - Salvando os dados em .csv

In [5]:
colunas = ['nino12', 'nino34', 'cbm', 'nino12_cp', 'nino34_cp', 'cbm_cp']
dados = pd.DataFrame(data = np.array([nino12, nino34, cbm, nino12_cp, nino34_cp, cbm_cp]).reshape(1,6), index = data.time.values, columns = colunas)
dados.to_csv('dados.csv')
dados

,nino12,nino34,cbm,nino12_cp,nino34_cp,cbm_cp
2021-09-01 12:00:00,20.723972,26.421827,12.61762,20.728138,26.421295,12.698307

## 4 - Lendo os dados salvos em .csv

In [6]:
dados_salvos = pd.read_csv('dados.csv', index_col = 0)
dados_salvos

,nino12,nino34,cbm,nino12_cp,nino34_cp,cbm_cp
2021-09-01 12:00:00,20.723972,26.421827,12.617619,20.728138,26.421295,12.698307