## 0 - Importando bibliotecas

In [1]:
import pandas as pd
import datetime as dt
import json

## 1 - Lendo os dados do .txt e executando uma pré-formatação em dataframe

In [2]:
dados = pd.read_csv('DP.txt', header=0, skiprows = 4, sep = '\s+') #devido ao arquivo ter as colunas 'm(segunda)' e 'hf' em branco, ele jogou os valores da coluna "demanda"
# para a coluna "hf", então vou deleter as colunas "demanda" e "m.1" e simplesmente renomear a coluna 'hf' como "Demanda". Vou também excluir a primeira coluna "&" que é a primeira
# coluna do .txt (que contem "DP,DP,DP,DP")

dados = dados.drop(columns = ['&','Demanda', 'm.1','df']).rename(columns={'ss': 'subsistema', 'di': 'dia', 'hi':'hora', 'm':'meiahora', 'hf':'demanda'}) #fazendodo o descrito acima
dados = dados.iloc[1::,:].astype('float') # excluindo a primeira linha e transformando os valores para floating point numbers

referencia = {1:'seco', 2:'s', 3:'ne', 4:'n', 11:'imperatriz'}
dados['subsistema'] = dados.subsistema.apply(lambda x: referencia[x]) # transformando os dados da coluna "subsistema" de código do subsistema para o seu nome

## 2 - Criando uma coluna de datas com os valores das datas em datenum 
#### Como não foi especificada nem uma data base (data de partida da previsão) e nem se todos os subsistemas têm a mesma data base, irei arbitrar uma data base qualquer, e assumirei que todos os subsistemas começam suas previsões nessa mesma data

In [3]:
####  adiciona nos dados uma coluna "data" que contém, para cada observação, o datetime equivalente (considerando data_base como partida da previsão)
def adiciona_tempo(dados,data_base):
    dados['data'] = dados['dia'].apply(lambda x: dt.timedelta(days = x))  +  dados['meiahora'].apply(lambda x: dt.timedelta(minutes = x*30)) + dados['hora'].apply(lambda x: dt.timedelta(hours = x)) + data_base
    return(dados)

data_base = dt.datetime(2000, 1, 1, 0, 0) # arbitrariamente escolhida como partida da previsão
dados = adiciona_tempo(dados,data_base)  # adicionando a iformação da data em datetime numa nova coluna "data"

print(dados.head()) #amostra dos dados com a data já em datetime

dados = dados.drop(columns = ['dia','hora','meiahora']) #dropando as colunas que descreviam a data, e que agora não são mais necessárias

# não consegui salvar datetime como json, então vou converter as datas para string, o que faz ser possível salvar em json.

dados['data'] = dados['data'].apply(lambda x: x.strftime("%Y-%m-%d:%H:%M:%S")) 
dados.head() #amostra dos dados com data em string

  subsistema  dia  hora  meiahora  demanda                data
1       seco  2.0   0.0       0.0  36703.0 2000-01-03 00:00:00
2       seco  2.0   0.0       1.0  35673.0 2000-01-03 00:30:00
3       seco  2.0   1.0       0.0  34527.0 2000-01-03 01:00:00
4       seco  2.0   1.0       1.0  33996.0 2000-01-03 01:30:00
5       seco  2.0   2.0       0.0  33526.0 2000-01-03 02:00:00

  subsistema  demanda                 data
1       seco  36703.0  2000-01-03:00:00:00
2       seco  35673.0  2000-01-03:00:30:00
3       seco  34527.0  2000-01-03:01:00:00
4       seco  33996.0  2000-01-03:01:30:00
5       seco  33526.0  2000-01-03:02:00:00

## 3 - Salvando meus arquivos em .json
#### Observe que estou salvando os arquivos de duas maneiras diferentes. Na primeira estou salvando os dados de cada subsistema como um arquivo .json separado, enquanto que na segunda estou salvando um único arquivo .json com os dados separados (dentro desse mesmo arquivo) por subsistemas.

In [4]:

lista_dicionarios = []
for k in dados.subsistema.unique():
    
    di = dados[dados['subsistema']==k]
    dic_i = {'subsistema':di.subsistema[di.index[0]], 'data_partida':data_base.strftime("%Y-%m-%d:%H:%M:%S"), 'valores':di.loc[:,['demanda','data']].to_dict('records')}
    lista_dicionarios.append(dic_i) #salvando os dicionarios todos em uma lista que posteriormente será salva como um único arquivo .json
    
    with open(k+'.json', 'w') as fp:  #salvando cada subsistema como um arquivo .json com nome igual ao nome do subsistema
        json.dump(dic_i, fp, indent=4)

# salvando a lista de dicionários como um .json único
with open('uniao.json', 'w') as fp:  
        json.dump(lista_dicionarios, fp, indent=4)

## 4 - Lendo e printando um arquivo .json de um subsistema

In [5]:
print(json.dumps(json.load(open('seco.json',)), indent = 4))

{
    "subsistema": "seco",
    "data_partida": "2000-01-01:00:00:00",
    "valores": [
        {
            "demanda": 36703.0,
            "data": "2000-01-03:00:00:00"
        },
        {
            "demanda": 35673.0,
            "data": "2000-01-03:00:30:00"
        },
        {
            "demanda": 34527.0,
            "data": "2000-01-03:01:00:00"
        },
        {
            "demanda": 33996.0,
            "data": "2000-01-03:01:30:00"
        },
        {
            "demanda": 33526.0,
            "data": "2000-01-03:02:00:00"
        },
        {
            "demanda": 33176.0,
            "data": "2000-01-03:02:30:00"
        },
        {
            "demanda": 32902.0,
            "data": "2000-01-03:03:00:00"
        },
        {
            "demanda": 32758.0,
            "data": "2000-01-03:03:30:00"
        },
        {
            "demanda": 32938.0,
            "data": "2000-01-03:04:00:00"
        },
        {
            "demanda": 33093.0,
            "data": "2000-01-03:04:30:00"
        },
        {
            "demanda": 33691.0,
            "data": "2000-01-03:05:00:00"
        },
        {
            "demanda": 34477.0,
            "data": "2000-01-03:05:30:00"
        },
        {
            "demanda": 35920.0,
            "data": "2000-01-03:06:00:00"
        },
        {
            "demanda": 36055.0,
            "data": "2000-01-03:06:30:00"
        },
        {
            "demanda": 37330.0,
            "data": "2000-01-03:07:00:00"
        },
        {
            "demanda": 38429.0,
            "data": "2000-01-03:07:30:00"
        },
        {
            "demanda": 39228.0,
            "data": "2000-01-03:08:00:00"
        },
        {
            "demanda": 40100.0,
            "data": "2000-01-03:08:30:00"
        },
        {
            "demanda": 40599.0,
            "data": "2000-01-03:09:00:00"
        },
        {
            "demanda": 40904.0,
            "data": "2000-01-03:09:30:00"
        },
        {
            "demanda": 41342.0,
            "data": "2000-01-03:10:00:00"
        },
        {
            "demanda": 41634.0,
            "data": "2000-01-03:10:30:00"
        },
        {
            "demanda": 41427.0,
            "data": "2000-01-03:11:00:00"
        },
        {
            "demanda": 41348.0,
            "data": "2000-01-03:11:30:00"
        },
        {
            "demanda": 41127.0,
            "data": "2000-01-03:12:00:00"
        },
        {
            "demanda": 41261.0,
            "data": "2000-01-03:12:30:00"
        },
        {
            "demanda": 41914.0,
            "data": "2000-01-03:13:00:00"
        },
        {
            "demanda": 42591.0,
            "data": "2000-01-03:13:30:00"
        },
        {
            "demanda": 43060.0,
            "data": "2000-01-03:14:00:00"
        },
        {
            "demanda": 43519.0,
            "data": "2000-01-03:14:30:00"
        },
        {
            "demanda": 43980.0,
            "data": "2000-01-03:15:00:00"
        },
        {
            "demanda": 44372.0,
            "data": "2000-01-03:15:30:00"
        },
        {
            "demanda": 44672.0,
            "data": "2000-01-03:16:00:00"
        },
        {
            "demanda": 44969.0,
            "data": "2000-01-03:16:30:00"
        },
        {
            "demanda": 44736.0,
            "data": "2000-01-03:17:00:00"
        },
        {
            "demanda": 46585.0,
            "data": "2000-01-03:17:30:00"
        },
        {
            "demanda": 48056.0,
            "data": "2000-01-03:18:00:00"
        },
        {
            "demanda": 48198.0,
            "data": "2000-01-03:18:30:00"
        },
        {
            "demanda": 47352.0,
            "data": "2000-01-03:19:00:00"
        },
        {
            "demanda": 46510.0,
            "data": "2000-01-03:19:30:00"
        },
        {
            "demanda": 45952.0,
            "data": "2000-01-03:20:00:00"
        },
        {
            "demanda": 45830.0,
            "data": "2000-01-03:20:30:00"
        },
        {
            "demanda": 45146.0,
            "data": "2000-01-03:21:00:00"
        },
        {
            "demanda": 43993.0,
            "data": "2000-01-03:21:30:00"
        },
        {
            "demanda": 42918.0,
            "data": "2000-01-03:22:00:00"
        },
        {
            "demanda": 41671.0,
            "data": "2000-01-03:22:30:00"
        },
        {
            "demanda": 40155.0,
            "data": "2000-01-03:23:00:00"
        },
        {
            "demanda": 39142.0,
            "data": "2000-01-03:23:30:00"
        },
        {
            "demanda": 36523.0,
            "data": "2000-01-04:00:00:00"
        },
        {
            "demanda": 44095.0,
            "data": "2000-01-04:18:00:00"
        },
        {
            "demanda": 38151.0,
            "data": "2000-01-04:22:00:00"
        },
        {
            "demanda": 34346.0,
            "data": "2000-01-05:00:00:00"
        },
        {
            "demanda": 37726.0,
            "data": "2000-01-05:07:00:00"
        },
        {
            "demanda": 42052.0,
            "data": "2000-01-05:10:00:00"
        },
        {
            "demanda": 39198.0,
            "data": "2000-01-05:22:00:00"
        }
    ]
}